

body {
    background-color: #a2caf1;
}

.dt {
    float: left;
    clear: left;
    text-align: right;
    width: 95px;
    font-weight: bold;
    padding: 3pt;
}

.border-3 {
    border-style:solid;
    border-width:3px !important;
    border-radius: 25px;
    display: flex;
    width:100%;
    height:100%;
}

.titulo {
    height: 50px;
    margin: 30px;
}

.usuario
{
    padding-right: 15px;
    font-weight: bold;
    color: darkred;
}

.cabecera
{
    width:100%;
    height:30px;
    border-bottom:  2px solid rgb(23, 73, 114);
    padding-right: 30px;
    display: flex;
    justify-content: right;
}

.login
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.actividad {
    float: left;
}

.elemento-actividad{
    margin: 0 0 0 100px;
    background: #b1c5c9;
    border: solid rgb(0, 0, 0) 2px;
    padding: 2pt;
    padding-right: 70pt;
  }